.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-table table {
  text-align: left;
  font-size: 14px;
}

.dashboard-table table th,
.dashboard-table table td {
  padding: 0 15px;
}

.dashboard-table table thead {
    padding: 20px;
    background: blueviolet;
}

.dashboard-table table thead tr th {
  padding: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}
